################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RaspberryPi.API/bin
/RaspberryPi.API/obj
